@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 3rem;
/* color mode */
    --body-color: #272A37;;
    --body-color-alt: #fff;;
    --button-color: #BDEFE9;;
    --button-color-alt: #F8485E;;
    --strocke-color: #E3ECF0;;
    --activebutton-color: #20AB26;;
    --text-color: #fff;;
    --text-color-alt: #AEAEAE;;
    --fade-color: #40716B;;

    
/*========== Font and typography ==========*/    
    --big-gfont-size: 48px;
    --normal-font-size: 18px;
    --small-font-size: 16px ;
    --smaller-font-size: 14px;

/*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --body-font: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color-alt);
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 2;
}
.nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 0 24px;
    
}
.nav__logo{
    padding: 12px;
}
.nav__list{
    display: flex;
    gap: 1rem;
    font-weight: var(--font-semi-bold);
}
.nav__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--body-color);
}
.nav__item.language{
    width: 42px;
    padding: 0;
}
.nav__item.registration{
    background-color: var(--button-color-alt);
    width: 132px;
}
.nav__item.login{
    background-color: var(--button-color);
}
.nav__item{
    background-color: var(--strocke-color);
    padding: 0.5rem;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 110px;
    display: inline-flex;
}
/* .middle__contant{
    background: #fbb12f;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.semicircle{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scaleX(2);
    display: grid;
    z-index: -1;
    place-items: center;
}
.vin__absolute{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 15%;
}
.vin__code-container{
    border-radius: 14px;
    background: white;
    padding: 40px;
    max-width: 967px;
    top: 35%;
    box-shadow: 0 4px 16px rgb(0 0 0 / 6%);
    margin: 0px auto;
  }
  .vin__code{
    width: 100%;
    display: flex;
  }
  .search{
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search__input .search__text{
    padding: 8px 0px;
    background-color: transparent;
    position: relative;
    width: 78%;
  }
  .search__text{
      display: flex;
      transition: all .2s;
  }

.search__vin {
    border: solid;
    border-width: thin;
    font-family: inherit;
    width: 100%;
    border-radius: 8px;
    cursor: inherit;
    padding: 8px;
    border-color: #bdbdbd;
  }
  .search__button{
    height: 42px;
    padding: 12px;
    width: 180px;
    border: none;
    border-radius: 8px;
    background-color: #BDEFE9;
    font-weight: var(--font-medium);
  }
  .vin__subtitle{
    width: 100%;
  }
.img__box{
    background: linear-gradient(to right, rgba(13 145 132 / 50%), rgb(13 145 132 / 50%));;
}
.home__img{
    bottom: 262px;
    position: relative;
    width: 100%;
    z-index: -1;
}

.main-img{
    width: 50%;
}
.main__section{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 62px 24px;
    margin-top: -430px;
    z-index: 1;
}
.main__data{
    grid-column: 1/3;
}
.main__title{
    font-size: var(--big-gfont-size);
    text-align: right;
    /* border-bottom: 14px inset #BDEFE9; */
}
.main__subtitle{
    font-size: var(--normal-font-size);
    text-align: right;
    color: var(--text-color-alt);
}
.see__more{
    height: 42px;
    width: 30%;
    border: none;
    border-radius: 8px;
    background-color: #BDEFE9;
    font-weight: var(--font-medium);
    margin-left: 70%;
    margin-top: 10px
}
.three__car{
    z-index: 1;
    position: relative;
    padding-top: 10%;
    margin: auto;
    width: 100%;
}
.main__section-2-vin{
    padding-top: 4%;
    z-index: 1;
    display: flex;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}
.search__text-2{
    padding: 8px 6px;
    background-color: transparent;
    position: relative;
    width: 78%;
}
.vin__code-2{
    width: 100%;
    display: flex;
    z-index: 1;
}
.search__vin-2{
    border: #EBF2F5;
    border-width: thin;
    font-family: inherit;
    background-color: #E3ECF0;
    width: 100%;
    height: 42px;
    border-radius: 8px;
    cursor: inherit;
    padding: 8px;
    border-color: #bdbdbd;
    box-shadow: 2px 2px 5px #aaaaaa;
}
.search__button-2{
    height: 42px;
    padding: 12px;
    width: 180px;
    border: none;
    border-radius: 8px;
    background-color: #BDEFE9;
    font-weight: var(--font-medium);
    box-shadow: 2px 2px 5px #aaaaaa;
}
.semicircle-2{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scaleX(2);
    top: 150%;
}
.services__img{
    width: 100%;
}

